.big-t {
    height: 100vh;
    min-height: 500px;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.name {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0 auto;
}

.name h1{
    color: white;
}